/*Palette*/
    $primary: #EBD3D1;
    $secondary: #5B483B;
    $terciary: #BE8261;
    $light:#F7F4F0;
    $accent:#BFB99E;
    
/*Font Sizes*/
    
    $textl-lg: 2.8em; 
    $text-md: 2.0em; 
    $text-sm: 1.8em; 
    $text-xs: 1.6em;
    $text-xxs:1.1em; 
    
    